<!DOCTYPE html>
<html>
  <head>
    <title>Kanban Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <%= inertia_asset_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>